<!DOCTYPE html>
<html>
<head>
  <title>Myapp1</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

 <p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>


  <% if user_signed_in? %>
		<%= current_user.email %>
		<%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
	<% elsif current_omniuser %>
	  <%= current_omniuser.nickname %>
    <%= link_to "サインアウト", signout_path  %>
	<% else %>
		<%= link_to "サインイン", new_user_session_path %>
		<%#= link_to "GitHubでサインイン", "/auth/github" %>
		<%= link_to "新規登録",  welcome_path %>
	<% end %>
<%= yield %>

</body>
</html>
